@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oleo+Script:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Antique&display=swap');

header {
    min-height: 50px;
}

header > p {
    color: #775432;
    font-size: 0.8em;
    padding: 10px;
    font-weight: bold;
    width: 800px;
    
}

nav {
    
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin-top:50px;
    min-height: 40px;
}
nav > a {
    color: #775432;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav a:hover{
    background-color: white;
    padding: 10px;
    font-size: 1em;

}

body {
    background-color: #eae8db;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    line-height: 1em;
    margin: auto;
    border: 10px;
    min-width: 300px;
    max-width: 1000px;
}

h1#principal {
    color: #775432;
    text-align: center;
    font-size: 5em ;
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
        
}

h1 {
    color: #775432;
    text-align: center;
    font-size: 2em ;
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    margin-bottom: 5px;
   
}

h2 {
    color: #775432;
    text-align: center;
    font-family:"Zen Antique", serif;
    font-size: 25px;
}

h2.contato {
    color: #775432;
    font-family: "Merriweather", serif;
    font-size: 2em;
}

.esquerdo {
    text-align: left;
    padding: 10px;
    border-radius: 20px;
    padding-left: 65px;
    line-height: 2em;
    font-size: 23px;
}
p {
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
    border-radius: 10px;
    line-height: 2em;
} 

img {
    width: 70%;
    margin: auto;
    display: block;
    border-radius: 10px;
    padding: 10px;
    min-width: 320px;
    max-width: 800px;
}

.bola {
    height: 100px;
    width: 500px;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
    padding: 15px;
}

footer {
    padding: 10px;
    border-radius: 10px;
    color: #775432;
    display: block;
    font-weight: bold;
    
}


footer > a {
    color: #775432;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

footer a:hover {
    padding: 10px;
    font-size: 1em;
    color: #775432
    
}

fieldset {
    padding: 10px;
    border-radius: 10px;
}

.mensagem {
    font-size: 0.8em;
}
